{include file="member/header.htm"}

<div class="containe-wz">您当前位置： <a href="" class="tt-12">首页</a> &gt;&gt; <a href="" class="tt-12">会员中心</a> &gt;&gt; 个人资料 </div>
<div class="containe">
<!--左侧栏目-->
	{include file="member/left.htm"}
<!--右侧栏目-->
	<div class="rightframe">
	  <div class="dlxx" style="margin:0px; padding:0px;"><!--我的国联状态-->
				<h2>个人资料</h2>
		        <div class="dlnr">
					<div class="smwz wz-style2">
						请完善您的个人信息，以便于我们为您提供更加优质的服务。<br>
三秦品牌网将严格保密您的个人信息，请放心填写。					</div>
		            <div class="xgmm"><!--修改密码-->
						<div class="bt">
						  <h2>个人信息</h2>
						  <div class="gd"><a onclick=""><img src="./templates/member/images/xg.gif" alt="修改" border="0"></a></div>
					  </div>
                      <div class="xgnr">
                        <table width="100%" border="0" align="right" cellpadding="0" cellspacing="0">
                          <tbody><tr>
                            <td width="17%"><img src="./templates/member/images/tx.gif" width="134" height="134"></td>
                            <td width="83%" rowspan="2" align="right" valign="top"><table width="98%" border="0" cellspacing="0" cellpadding="0">
                              <tbody><tr>
								<td width="15%" height="30" align="right" class="zt-14">学   历：</td>
								<td width="30%" height="30" align="left" class="zt-14"></td>
								<td width="18%" height="30" align="right" class="zt-14">关注的行业：</td>
								<td width="37%" align="left" class="zt-14"></td>
							  </tr>
							  <tr>
								<td height="30" align="right" class="zt-14">生   日：</td>
								<td height="30" align="left" class="zt-14"></td>
								<td height="30" align="right" class="zt-14">关注的地区：</td>
								<td align="left" class="zt-14"></td>
							  </tr>
							  <tr>
								<td height="30" align="right" class="zt-14">籍   贯： </td>
								<td height="30" align="left" class="zt-14"></td>
								<td height="30" align="right" class="zt-14">业余兴趣爱好：</td>
								<td rowspan="3" align="left" valign="top" class="zt-14" style=" padding-top:3px"></td>
							  </tr>
							  <tr>
								<td height="30" align="right" class="zt-14">民   族：</td>
								<td height="30" align="left" class="zt-14"></td>
								<td height="30" align="right" class="zt-14">&nbsp;</td>
								</tr>
							  <tr>
								<td height="30" align="right" class="zt-14">个人主页：</td>
								<td height="30" align="left" class="zt-14"></td>
								<td height="30" align="right" class="zt-14">&nbsp;</td>
								</tr>
							</tbody></table></td>
						  </tr>
						  <tr>
							<td height="30" align="center">头像</td>
						  </tr>
						</tbody></table>
                      </div>
					
          </div>
		  <div class="xgmm"><!--联系信息-->
                      <div class="bt">
						  <h2>联系信息</h2>
						  <div class="gd"><a onclick=""><img src="./templates/member/images/xg.gif" alt="修改" border="0"></a></div>
					  </div>
                      <div class="xgnr">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tbody><tr>
                            <td width="11%" height="40" align="left" class="zt-14">真实姓名：</td>
                            <td width="13%" height="40" align="left" class="zt-14">夺城夺</td>
                            <td width="12%" align="left" class="zt-14"></td>
                            <td width="10%" height="40" align="left" class="zt-14">手机：</td>
                            <td width="20%" height="40" align="left" class="zt-14"></td>
                            <td width="14%" height="40" align="left" class="zt-14">QQ：</td>
                            <td width="20%" align="left" class="zt-14"></td>
                          </tr>
                          <tr>
                            <td height="40" align="left" class="zt-14">E-mail： </td>
                            <td height="40" colspan="2" align="left" class="zt-14">{$userinfo.email}</td>
                            <td height="40" align="left" class="zt-14">电话： </td>
                            <td height="40" align="left" class="zt-14"></td>
                            <td height="40" align="left" class="zt-14">MSN：</td>
                            <td align="left" class="zt-14"></td>
                          </tr>
                          <tr>
                            <td height="40" align="left" class="zt-14">所在地区：</td>
                            <td height="40" colspan="2" align="left" class="zt-14">[无]</td>
                            <td height="40" align="left" class="zt-14">传真：</td>
                            <td height="40" align="left" class="zt-14"></td>
                            <td height="40" align="left" class="zt-14"> 阿里旺旺：</td>
                            <td align="left" class="zt-14"></td>
                          </tr>
                          <tr>
                            <td height="40" align="left" class="zt-14">家庭住址： </td>
                            <td height="40" colspan="2" align="left" class="zt-14"></td>
                            <td height="40" align="left" class="zt-14">笔名： </td>
                            <td height="40" align="left" class="zt-14"></td>
                            <td height="40" align="left" class="zt-14">百度Hi：</td>
                            <td align="left" class="zt-14"></td>
                          </tr>
                          
                        </tbody></table>
                      </div>
          </div>
		  <div class="xgmm"><!--公司信息-->
		  	<div class="bt">
			  <h2>公司信息</h2>
			  <div class="gd"><a onclick=""><img src="./templates/member/images/xg.gif" alt="添加" border="0"></a></div>
		  	</div>
            <div class="xgnr">
              <table width="724" border="0" cellspacing="0" cellpadding="0">
                <tbody><tr>
                  <td><table width="100%" border="0" cellpadding="0" cellspacing="0" class="gh10">
                    <tbody><tr>
                      <td width="18%"><strong>目前所在公司：</strong></td>
                      <td width="67%">&nbsp;</td>
                      <td width="15%" align="center">&nbsp;</td>
                    </tr>
					
                  </tbody></table></td>
                </tr>
                <tr>
                  <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tbody><tr>
                      <td height="30"><strong>工作经历：</strong></td>
                    </tr>
					
                  </tbody></table></td>
                </tr>
              </tbody></table>
            </div>
          </div>
		</div>
	  </div>
  </div>
</div>


{include file="member/footer.htm"}

<!--null页面结束-->

</body></html>