<div class="leftframe">
		<div class="hyxx"><!--我的黄页信息-->
			<h2>企业信息<span class="hys">发布</span></h2>
			<div class="xx-bj">
				<ul>
					<li><a id="menu1" href="?action=company_add"><img src="templates/member/images/dp.gif" style=" margin:2px 0px 0px 0px"> 添加企业信息</a></li>
                   <!-- <li><a id="menu1" href="?action=supply_demand"><img src="templates/member/images/dp.gif" style=" margin:2px 0px 0px 0px"> 供求信息发布</a></li>	-->			
				</ul>
		  </div>
			<div class="xx-bottom"></div>
		</div>	
        
        
        
        
        
        
        
        	
		
		<div class="hyxx" style="padding-top:10px!important; padding-top:0px;"><!--我的个人资料-->
			<h2>我的个人<span class="hys">资料</span></h2>
			<div class="xx-bj">
				<table width="100%" border="0" cellspacing="0" cellpadding="0">
				  <tbody><tr>
					<td height="76" align="center" background="templates/member/images/nr-bj.gif"><table width="92%" border="0" cellspacing="0" cellpadding="0" style="color:#FFFFFF;">
					  <tbody><tr>
						<td align="left">·类型：普通会员</td>
					  </tr>
					  <tr>
						<td align="left">·积分：10分</td>
					  </tr>
					  <tr>
						<td align="left">·邮件：1封末读</td>
					  </tr>
					</tbody></table></td>
				  </tr>
				  <tr>
					<td height="10"></td>
				  </tr>
				</tbody></table>
		
				<ul>
					<li><a id="menu10" href="?action=update_password"><img src="templates/member/images/dlxx.gif" width="16" height="16" style=" margin:2px 0px 0px 0px"> 登录信息 </a></li>
					<li><a id="menu11" href="?action=information"><img src="templates/member/images/grzl.gif" width="16" height="16" style=" margin:2px 0px 0px 0px"> 个人资料 </a></li>
					<li><a id="menu12" href=""><img src="templates/member/images/mpj.gif" width="16" height="16" style=" margin:2px 0px 0px 0px"> 我的名片夹 </a></li>
				</ul>
			</div>
			<div class="xx-bottom"></div>
		</div>
        
        
        
        
        
        
        
        
        <div class="hyxx" style="padding-top:10px!important; padding-top:0px;"><!--VIP会员工具箱-->
			<h2>企业网站管理<span class="hys">VIP</span></h2>
			<div class="xx-bj">
				<ul>
					<li><a id="menu1" href=""><img src="templates/member/images/dp.gif" style=" margin:2px 0px 0px 0px"> 添加企业新闻</a></li>
                    <li><a id="menu1" href=""><img src="templates/member/images/dp.gif" style=" margin:2px 0px 0px 0px"> 添加企业产品</a></li>                
                    <li><a id="menu1" href=""><img src="templates/member/images/dp.gif" style=" margin:2px 0px 0px 0px"> 企业留言管理</a></li>
                    <li><a id="menu1" href=""><img src="templates/member/images/dp.gif" style=" margin:2px 0px 0px 0px"> 发布人才招聘</a></li>
					
				</ul>
		  </div>
			<div class="xx-bottom"></div>
		</div>
        
        
        
        
        
        
        
        
        
        
        
        
		<div class="hyxx" style="padding-top:10px!important; padding-top:0px;"><!--服务与支持-->
			<h2>服务与<span class="hys">支持</span></h2>
			<div class="xx-bj">
				<table width="100%" border="0" cellspacing="0" cellpadding="0">
					  <tbody><tr>
						<td colspan="2" align="left">E-mail：800@erlitech.com</td>
					  </tr>
					  <tr>
						<td colspan="2" align="left">联系QQ：88888888</td>
					  </tr>
					  <tr>
						<td align="left"><a href="" target="_blank" class="u">常见问题</a>   <br></td>
						<td align="left"><a href="" target="_blank" class="u">在线反馈</a></td>
					  </tr>
					  <tr>
						<td align="left"><a href="" class="u">黄页营销</a> </td>
						<td align="left"><a href="" target="_blank" class="u">关于我们</a></td>
					  </tr>
					</tbody></table>
		
			</div>
			<div class="xx-bottom"></div>
		</div>
	</div>