{include file="member/header.htm"}

<div class="containe-wz">您当前位置： <a href="" class="tt-12">首页</a> &gt;&gt; <a href="" class="tt-12">会员中心</a> &gt;&gt; 修改登录信息</div>
<div class="containe">

	
{include file="member/left.htm"}
<!--右侧栏目-->
	<div class="rightframe">
	  <div class="dlxx" style="margin:0px; padding:0px;"><!--我的国联状态-->
				<h2>修改登录信息 </h2>
		        <div class="dlnr">
					<div class="smwz">
						<div class="wznr">登录用户名：{$userinfo.userid}</div>
					</div>
					<form name="updateForm" id="updateForm" method="post" action="" onsubmit="return checkForm();">
		            <div class="xgmm"><!--修改密码-->
					<div class="bt">
                      <h2>修改密码</h2>
					  </div>
                      <div class="xgnr">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tbody><tr>
                            <td width="19%" height="50" align="right" class="zt-14">请输入原密码：</td>
                            <td width="23%" height="50"><label>
                              <input type="password" name="oldPassword" id="oldPassword">
                            </label></td>
                            <td width="58%" height="50" align="left" class="zt-14qh">请输入原密码</td>
                          </tr>
                          <tr>
                            <td height="50" align="right" class="zt-14">新&nbsp;&nbsp;密&nbsp;&nbsp;码：</td>
                            <td height="50"><input type="password" name="newPassword" id="newPassword"></td>
                            <td height="50" align="left" class="zt-14qh">6-20 个字符，只允许数字和英文字母，有大小写区分。</td>
                          </tr>
                          <tr>
                            <td height="50" align="right" class="zt-14">再输入一遍新密码：</td>
                            <td height="50"><input type="password" name="confirmPassword" id="confirmPassword"></td>
                            <td height="50" align="left" class="zt-14qh">6-20 个字符，只允许数字和英文字母，有大小写区分。</td>
                          </tr>
                        </tbody></table>
                      </div>
          			</div>
		  			<div class="xgmm"><!--修改E-MAIL-->
					<div class="bt">
                      <h2>修改E-mail地址</h2>
					  </div>
                      <div class="xgnr">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                          
                          <tbody><tr>
                            <td height="50" align="right" class="zt-14">原E-mail地址：</td>
                            <td height="50"><span class="zt-14">{$userinfo.email}</span></td>
                          </tr>
                          <tr>
                            <td width="19%" height="50" align="right" class="zt-14">新E-mail地址：</td>
                            <td height="50"><input type="text" name="newEmail" id="newEmail"></td>
                          </tr>
                          <tr>
                            <td height="50" align="right" class="zt-14">&nbsp;</td>
                            <td height="50" class="zt-14qh">我们收到您的电邮地址更改申请后，便会发送确认信到您的新邮箱地址，请点击信中提示的链接，<br>
                            确认后新邮箱地址即可生效。</td>
                          </tr>
                          <tr>
                            <td height="50" align="right" class="zt-14">&nbsp;</td>
                            <td height="50">
								<input name="operation" type="hidden" id="operation" value="sysUpdatePasswordEmail">
								<input name="memberId" type="hidden" id="memberId" value="37687">
								<input name="submit" src="./templates/member/images/qd.gif" type="image" width="98" height="31">
							</td>
                          </tr>
                        </tbody></table>
                      </div>
          			</div>
					</form>
		</div>
	  </div>
  </div>
</div>


{include file="member/footer.htm"}

<!--null页面结束-->

</body></html>