body,div {
    font-size:13px;
    font-family:Verdana;
}

.pgContainer {
    background-color:#F9F9F9;
    padding:10px;
    line-height:20px;
}

#pagetest5 .pgContainer {
    color:#93A5B3;
}

hr {
    margin:10px 0 10px 0;
    border:0;
    border-top:1px dashed #CCCCCC;
    height:0;
}

h3 {
    margin:5px 0;
    font-size:14px;
}

.orderid {
    width:20px;
    display:inline-block;
}