
/* bl_list_right s */

#bl_register {
  float:left;
  width:100%;
  padding-right:2px;
}

#bl_register h3 {
  font-size:12px;
  line-height:30px;
  padding-left:50px;
  background:url(../img/linking_bg.jpg) left top no-repeat;
}

#bl_register h3 a {
  color:#000000;
  text-decoration:none;
}

#bl_register span {
  color:#FF0000;
}

.register_nr {
  width:100%;
  border:1px solid #e2e2e2;
  border-top:none;
}

.register_nr table {
  width:80%;
  margin:8px auto;
  border:1px solid #dfdcd3;
  border-collapse:collapse;
}

.reg_bg {
  background:#ececec;
}

.register_nr table tr {
  line-height:30px;
  background-color: expression(this.sourceIndex%2==0?'#9FB7F6':'#B6C8F8');
}

.login_input input,.login_input select {
  width:200px;
}

.dl_btn input {
  width:93px;
  line-height:30px;
  min-height:30px;
  border:none;
  background:url(../img/bmfw_title.gif) bottom left no-repeat;
}

/* bl_list_right e */