/* Resume s*/
.resume {
    line-height:30px;
    width:98%;
}

.resume tr {
    height: 30px;;
}

.resume td {
    border-bottom:1px dashed #89a8d1;
    padding-left:25px;
}

.resume thead {
    background:#f3f6ff;
    font-weight: 800;
}
.resume a {
    color:#154692;
    FONT-SIZE: 13px;
    text-decoration:none;
}