HTML {
	
}
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; BACKGROUND: url(body-bj.gif) #ffffff repeat-x left top; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #333; LINE-HEIGHT: 20px; PADDING-TOP: 0px; FONT-FAMILY: "Lucida Grande","宋体","新宋体",arial,verdana,sans-serif; TEXT-ALIGN: center
}
P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
BR {
	
}
TABLE {
	
}
TR {
	
}
TD {
	FONT-SIZE: 12px; LINE-HEIGHT: 20px; FONT-FAMILY: "Lucida Grande","宋体","新宋体",arial,verdana,sans-serif
}
A:link {
	FONT-SIZE: 12px; COLOR: #333; TEXT-DECORATION: none
}
A:visited {
	FONT-SIZE: 12px; COLOR: #333; TEXT-DECORATION: none
}
A:active {
	FONT-SIZE: 12px; COLOR: #333; TEXT-DECORATION: none
}
A:hover {
	FONT-SIZE: 12px; COLOR: #b20b02; TEXT-DECORATION: underline
}
A.b:link {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #446493; TEXT-DECORATION: underline
}
A.b:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #446493; TEXT-DECORATION: underline
}
A.b:active {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #446493; TEXT-DECORATION: underline
}
A.b:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #ff0000; TEXT-DECORATION: underline
}
A.u:link {
	FONT-SIZE: 14px; COLOR: #b93203; TEXT-DECORATION: none
}
A.u:visited {
	FONT-SIZE: 14px; COLOR: #b93203; TEXT-DECORATION: none
}
A.u:active {
	FONT-SIZE: 14px; COLOR: #b93203; TEXT-DECORATION: none
}
A.u:hover {
	FONT-SIZE: 14px; COLOR: #b93203; TEXT-DECORATION: underline
}
A.u1-new:link {
	FONT-SIZE: 12px; COLOR: #fff; TEXT-DECORATION: underline
}
A.u1-new:visited {
	FONT-SIZE: 12px; COLOR: #fff; TEXT-DECORATION: underline
}
A.u1-new:active {
	FONT-SIZE: 12px; COLOR: #fff; TEXT-DECORATION: underline
}
A.u1-new:hover {
	FONT-SIZE: 12px; COLOR: #fff; TEXT-DECORATION: underline
}
A.blue:link {
	FONT-SIZE: 12px; COLOR: #013d62; TEXT-DECORATION: none
}
A.blue:visited {
	FONT-SIZE: 12px; COLOR: #013d62; TEXT-DECORATION: none
}
A.blue:active {
	FONT-SIZE: 12px; COLOR: #013d62; TEXT-DECORATION: none
}
A.blue:hover {
	FONT-SIZE: 12px; COLOR: #013d62; TEXT-DECORATION: underline
}
A.lj1:link {
	COLOR: #12457a; TEXT-DECORATION: none
}
A.lj1:visited {
	COLOR: #12457a; TEXT-DECORATION: none
}
A.lj1:active {
	COLOR: #12457a; TEXT-DECORATION: none
}
A.lj1:hover {
	BACKGROUND: #12457a; COLOR: #fff; TEXT-DECORATION: none
}
A.lj2:link {
	FONT-SIZE: 14px; COLOR: #ffffff; TEXT-DECORATION: none
}
A.lj2:visited {
	FONT-SIZE: 14px; COLOR: #ffffff; TEXT-DECORATION: none
}
A.lj2:active {
	FONT-SIZE: 14px; COLOR: #ffffff; TEXT-DECORATION: none
}
A.lj2:hover {
	FONT-SIZE: 14px; COLOR: #ffffff; TEXT-DECORATION: underline
}
A.lj3:link {
	FONT-SIZE: 12px; COLOR: #b20b02; TEXT-DECORATION: underline
}
A.lj3:visited {
	FONT-SIZE: 12px; COLOR: #b20b02; TEXT-DECORATION: underline
}
A.lj3:active {
	FONT-SIZE: 12px; COLOR: #b20b02; TEXT-DECORATION: underline
}
A.lj3:hover {
	FONT-SIZE: 12px; COLOR: #b20b02; TEXT-DECORATION: none
}
A.lj4:link {
	COLOR: #0056bf; TEXT-DECORATION: none
}
A.lj4:visited {
	COLOR: #0056bf; TEXT-DECORATION: none
}
A.lj4:active {
	COLOR: #0056bf; TEXT-DECORATION: none
}
A.lj4:hover {
	BACKGROUND: #12457a; COLOR: #ffffff; TEXT-DECORATION: none
}
A.lj5:link {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #12457a; TEXT-DECORATION: none
}
A.lj5:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #12457a; TEXT-DECORATION: none
}
A.lj5:active {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #12457a; TEXT-DECORATION: none
}
A.lj5:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #12457a; TEXT-DECORATION: underline
}
A.lj6:link {
	FONT-SIZE: 12px; COLOR: #df0023; TEXT-DECORATION: none
}
A.lj6:visited {
	FONT-SIZE: 12px; COLOR: #df0023; TEXT-DECORATION: none
}
A.lj6:active {
	FONT-SIZE: 12px; COLOR: #df0023; TEXT-DECORATION: none
}
A.lj6:hover {
	FONT-SIZE: 12px; COLOR: #df0023; TEXT-DECORATION: underline
}
A.tt:link {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #b20b02; TEXT-DECORATION: none
}
A.tt:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #b20b02; TEXT-DECORATION: none
}
A.tt:active {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #b20b02; TEXT-DECORATION: none
}
A.tt:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #b20b02; TEXT-DECORATION: underline
}
A.baicu:link {
	FONT-WEIGHT: bold; COLOR: #fff; TEXT-DECORATION: none
}
A.baicu:visited {
	FONT-WEIGHT: bold; COLOR: #fff; TEXT-DECORATION: none
}
A.baicu:active {
	FONT-WEIGHT: bold; COLOR: #fff; TEXT-DECORATION: none
}
A.baicu:hover {
	FONT-WEIGHT: bold; COLOR: #fff; TEXT-DECORATION: underline
}
A.hy:link {
	FONT-SIZE: 14px; COLOR: #333; TEXT-DECORATION: underline
}
A.hy:visited {
	FONT-SIZE: 14px; COLOR: #333; TEXT-DECORATION: underline
}
A.hy:active {
	FONT-SIZE: 14px; COLOR: #333; TEXT-DECORATION: underline
}
A.hy:hover {
	FONT-SIZE: 14px; COLOR: #ad4949; TEXT-DECORATION: underline
}
A.bs:link {
	FONT-SIZE: 14px; COLOR: #b20b02; TEXT-DECORATION: none
}
A.bs:visited {
	FONT-SIZE: 14px; COLOR: #b20b02; TEXT-DECORATION: none
}
A.bs:active {
	FONT-SIZE: 14px; COLOR: #b20b02; TEXT-DECORATION: none
}
A.bs:hover {
	FONT-SIZE: 14px; BACKGROUND: #12457a; COLOR: #ffffff; TEXT-DECORATION: none
}
A.bs1:link {
	FONT-WEIGHT: bold; COLOR: #b20b02; TEXT-DECORATION: none
}
A.bs1:visited {
	FONT-WEIGHT: bold; COLOR: #b20b02; TEXT-DECORATION: none
}
A.bs1:active {
	FONT-WEIGHT: bold; COLOR: #b20b02; TEXT-DECORATION: none
}
A.bs1:hover {
	FONT-WEIGHT: bold; COLOR: #b20b02; TEXT-DECORATION: underline
}
A.bs2:link {
	FONT-SIZE: 14px; COLOR: #333; TEXT-DECORATION: none
}
A.bs2:visited {
	FONT-SIZE: 14px; COLOR: #333; TEXT-DECORATION: none
}
A.bs2:active {
	FONT-SIZE: 14px; COLOR: #333; TEXT-DECORATION: none
}
A.bs2:hover {
	FONT-SIZE: 14px; COLOR: #b20b02; TEXT-DECORATION: underline
}
A.bs3:link {
	COLOR: #646262; TEXT-DECORATION: none
}
A.bs3:visited {
	COLOR: #646262; TEXT-DECORATION: none
}
A.bs3:active {
	COLOR: #646262; TEXT-DECORATION: none
}
A.bs3:hover {
	COLOR: #ff0000; TEXT-DECORATION: underline
}
A.bs4:link {
	FONT-SIZE: 14px; COLOR: #01477a; TEXT-DECORATION: none
}
A.bs4:visited {
	FONT-SIZE: 14px; COLOR: #01477a; TEXT-DECORATION: none
}
A.bs4:active {
	FONT-SIZE: 14px; COLOR: #01477a; TEXT-DECORATION: none
}
A.bs4:hover {
	FONT-SIZE: 14px; COLOR: #01477a; TEXT-DECORATION: underline
}
A.fw:link {
	FONT-SIZE: 12px; COLOR: #0189c7; TEXT-DECORATION: none
}
A.fw:visited {
	FONT-SIZE: 12px; COLOR: #0189c7; TEXT-DECORATION: none
}
A.fw:active {
	FONT-SIZE: 12px; COLOR: #0189c7; TEXT-DECORATION: none
}
A.fw:hover {
	FONT-SIZE: 12px; COLOR: #ba3202; TEXT-DECORATION: underline
}
A.lj3-zt:link {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ba3202; LINE-HEIGHT: 25px; TEXT-DECORATION: none
}
A.lj3-zt:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ba3202; LINE-HEIGHT: 25px; TEXT-DECORATION: none
}
A.lj3-zt:active {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ba3202; LINE-HEIGHT: 25px; TEXT-DECORATION: none
}
A.lj3-zt:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ba3202; LINE-HEIGHT: 25px; TEXT-DECORATION: underline
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
INPUT {
	
}
TEXTAREA {
	
}
SELECT {
	
}
LABEL {
	
}
UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
HR {
	
}
IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
FIELDSET {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
LEGEND {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H1 {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; FONT-WEIGHT: normal; PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: hidden; PADDING-TOP: 0px
}
H2 {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; FONT-WEIGHT: normal; PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: hidden; PADDING-TOP: 0px
}
H3 {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; FONT-WEIGHT: normal; PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: hidden; PADDING-TOP: 0px
}
H4 {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; FONT-WEIGHT: normal; PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: hidden; PADDING-TOP: 0px
}
H5 {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; FONT-WEIGHT: normal; PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: hidden; PADDING-TOP: 0px
}
H6 {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; FONT-WEIGHT: normal; PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: hidden; PADDING-TOP: 0px
}
.mainbox {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: auto; OVERFLOW: hidden; WIDTH: 980px; PADDING-TOP: 0px
}
.mainbox-a {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 10px auto 0px; OVERFLOW: hidden; WIDTH: 980px; PADDING-TOP: 0px
}
.mainbox-b {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: auto; OVERFLOW: hidden; WIDTH: 980px; PADDING-TOP: 10px
}
.containe {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 10px auto 0px; OVERFLOW: hidden; WIDTH: 980px; PADDING-TOP: 0px
}
.menu-top {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; MARGIN: 10px 0px 0px; COLOR: #12457a; LINE-HEIGHT: 16px; PADDING-TOP: 0px; HEIGHT: 16px; TEXT-ALIGN: right
}
H1 {
	PADDING-RIGHT: 15px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 10px; OVERFLOW: hidden; WIDTH: 250px; PADDING-TOP: 10px
}
.menu {
	MARGIN-TOP: 30px; BACKGROUND: url(nav-bj.jpg) no-repeat left bottom; FLOAT: left; WIDTH: 686px
}
.menu UL {
	PADDING-RIGHT: 30px; PADDING-LEFT: 30px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 626px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; HEIGHT: 42px
}
.menu UL LI {
	FLOAT: left; WIDTH: 100px; LIST-STYLE-TYPE: none
}
.menu UL LI A.tab:link {
	DISPLAY: block; FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #fff; LINE-HEIGHT: 32px; PADDING-TOP: 10px; HEIGHT: 32px; TEXT-DECORATION: none
}
.menu UL LI A.tab:visited {
	DISPLAY: block; FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #fff; LINE-HEIGHT: 32px; PADDING-TOP: 10px; HEIGHT: 32px; TEXT-DECORATION: none
}
.menu UL LI A.tab:active {
	DISPLAY: block; FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #fff; LINE-HEIGHT: 32px; PADDING-TOP: 10px; HEIGHT: 32px; TEXT-DECORATION: none
}
.menu UL LI A.tab:hover {
	DISPLAY: block; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: url(nav-hd.jpg) no-repeat left top; WIDTH: 93px; COLOR: #fff; LINE-HEIGHT: 37px; PADDING-TOP: 5px; HEIGHT: 37px; TEXT-DECORATION: none
}
.menu UL LI A.tab-ed:link {
	DISPLAY: block; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: url(nav-hd.jpg) no-repeat left top; WIDTH: 93px; COLOR: #fff; LINE-HEIGHT: 37px; PADDING-TOP: 5px; HEIGHT: 37px; TEXT-DECORATION: none
}
.menu UL LI A.tab-ed:visited {
	DISPLAY: block; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: url(nav-hd.jpg) no-repeat left top; WIDTH: 93px; COLOR: #fff; LINE-HEIGHT: 37px; PADDING-TOP: 5px; HEIGHT: 37px; TEXT-DECORATION: none
}
.menu UL LI A.tab-ed:active {
	DISPLAY: block; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: url(nav-hd.jpg) no-repeat left top; WIDTH: 93px; COLOR: #fff; LINE-HEIGHT: 37px; PADDING-TOP: 5px; HEIGHT: 37px; TEXT-DECORATION: none
}
.menu UL LI A.tab-ed:hover {
	DISPLAY: block; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: url(nav-hd.jpg) no-repeat left top; WIDTH: 93px; COLOR: #fff; LINE-HEIGHT: 37px; PADDING-TOP: 5px; HEIGHT: 37px; TEXT-DECORATION: none
}
.search {
	PADDING-RIGHT: 50px; PADDING-LEFT: 50px; BACKGROUND: url(search-bj.jpg) no-repeat left top; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 880px; COLOR: #ffffff; PADDING-TOP: 10px; HEIGHT: 56px; TEXT-ALIGN: left
}
#Layer1 {
	Z-INDEX: 1; MARGIN: -55px 0px 0px 511px; WIDTH: 200px; LINE-HEIGHT: 20px; POSITION: absolute
}
.subMenu {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 10px; BACKGROUND: url(wz-bj.jpg) repeat-x; PADDING-BOTTOM: 0px; MARGIN: 10px auto 0px; OVERFLOW: hidden; BORDER-LEFT: #cccccc 1px solid; WIDTH: 958px; LINE-HEIGHT: 30px; PADDING-TOP: 0px; BORDER-BOTTOM: #cccccc 1px solid; HEIGHT: 30px
}
.subMenu .sybj {
	FLOAT: left; WIDTH: 25px; PADDING-TOP: 6px; HEIGHT: 24px; TEXT-ALIGN: left
}
.subMenu .sybj-wz {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(wz-bj-fg.jpg) no-repeat right top; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 45px; PADDING-TOP: 0px; HEIGHT: 30px; TEXT-ALIGN: left
}
.subMenu .sydh {
	PADDING-LEFT: 10px; FLOAT: left; WIDTH: 843px; COLOR: #333333; LINE-HEIGHT: 30px; HEIGHT: 30px; TEXT-ALIGN: left
}
.yqlj {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 10px auto 0px; OVERFLOW: hidden; BORDER-LEFT: #cccccc 1px solid; WIDTH: 978px; PADDING-TOP: 0px; BORDER-BOTTOM: #cccccc 1px solid
}
.yqlj .title-yq {
	PADDING-RIGHT: 10px; PADDING-LEFT: 0px; BACKGROUND: url(yqlj-title.gif) no-repeat; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 70px; PADDING-TOP: 0px; HEIGHT: 42px
}
.yqlj .title-wz {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; LINE-HEIGHT: 20px; PADDING-TOP: 10px; TEXT-ALIGN: left
}
.b-ssbj {
	BORDER-RIGHT: #bfd1db 0px solid; BORDER-TOP: #bfd1db 1px solid; BACKGROUND: #d6e8f4; BORDER-LEFT: #bfd1db 0px solid; WIDTH: 978px; LINE-HEIGHT: 61px; BORDER-BOTTOM: #bfd1db 1px solid; HEIGHT: 61px
}
.foot {
	BACKGROUND: url(foot-bj.gif) no-repeat; MARGIN: 10px auto 0px; WIDTH: 980px; COLOR: #ffffff; LINE-HEIGHT: 34px; HEIGHT: 34px; TEXT-ALIGN: center
}
.dwjnr {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; WIDTH: 900px; PADDING-TOP: 10px; TEXT-ALIGN: left
}
.dnr {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 20px; MARGIN: auto; WIDTH: 960px; PADDING-TOP: 20px; TEXT-ALIGN: center
}
