
#dy_sxhb_cen {
   width:750px;
   float:right;
   overflow:hidden;
  border:1px solid #c6c6c6;
}
/* 换页 s */
.dy_page {
    margin-top: 10px;
    height: 35px;
    text-align: center;
}

.dy_page a {
    display: inline-block;
    height: 20px;
    overflow: hidden;
    line-height: 21px;
    margin: 0 4px;
    padding: 0 6px;
    border: #DBDBDB 1px solid;
    color: #333333;
    font-size: 12px;
}

.dy_page a:hover {
    background:#DEF1FF;
    color: #FF0000;
    text-decoration:none;
}


.dy_page .page_now {
    background:#DEF1FF;
    color: #FF0000;
    font-weight: 700;
}

/* 换页 e */

#dy_sxhb h1 {
  font-size:14px;
  line-height:35px;
  color:#FFFFFF;
  padding-left:20px;
  background:url(../img/list_title_bg.jpg) left top no-repeat;
}

#dy_sxhb h1 a {
  color:#FFFFFF;
  text-decoration:none;
}

#dy_sxhb p {
  line-height:45px;
  text-align:right;
  margin:5px 20px;
}

#dy_sxhb p input {
  margin:0 5px;
}

.dy_fb,.dy_sear {
  width:90px;
  padding:8px 0;
  border:0;
  background:url(../img/botton.jpg) left top no-repeat;
}

#dy_sxhb a {
   display:block;
   color:#000000;
   margin:0 20px;
   border-bottom:1px dashed #c6c6c6;
   text-decoration:none;
   line-height:30px;
}

#dy_sxhb span {
  float:right;
  margin-right:25px;
  margin-top:5px;
}