/**
 * 文件名称：medic_add.css
 * 功能描述：医疗保险模块信息内容界面样式。
 * 代码作者：郭娟（创建）
 * 创建日期：2010-07-13
 * 当前版本：V1.0
*/

body{
    background:url(../img/bg.gif) repeat top left;
	font-size:12px;
}

table{font-size:12px;}

#info_table {
    line-height:25px;
    background:#FFF;
    font-size:12px;
    margin:0 auto;
    border:1px solid #d5d5d5;
    border-collapse:collapse;
    border:none
}

#info_table tbody tr {
    line-height : 28px;
}

#info_table tbody td {
    border : solid #F5F5F5 1px;
}

#info_table tbody input {
    width : 100%;
    text-indent: 4px;
    padding-top: 2px;
}

#info_table tbody select {
    width : 95%;
    text-indent: 4px;
    padding-top: 2px;
}

#i_remark {
    width : 100%;
}/*
#i_univ {
    width : 160px;
}*/

.itb_title {
    height: 35px;
    text-align:left;
    line-height:30px;
    font-size:14px;
    font-weight:bold;
    text-indent: 40px;
    letter-spacing: 10px;
    background:url(../img/big_title.gif) repeat-x left top;
}

#btn_box {
    height: 40px;
    text-align:center;
    background:url(../img/big_title.gif) repeat-x left top;
}

#sys_title_box {
    padding:10px 0;
    text-align:center;
    font-size:16px;
    font-weight:bold;
}

#sys_title {
    color: #000066;
    text-align:center;
    font-size:18px;
    font-weight:bold;
}

#sys_state {
    width: 80px;
    color : red;
    text-align:center;
    font-size:18px;
    font-weight:bold;
}

.check{ 
      font-size:12px;}
.check input{ 
      width:20px;}