/**
*
*/
a:link {
	color: #3f5fac;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #3f5fac;
}
a:hover {
	text-decoration: none;
	color: #3f5fac;
}
a:active {
	text-decoration: none;
	color: #3f5fac;
}
-->
table { border-collapse: 0;
        border-spacing: 0; 
		border: 0; 
		text-align: left; 
		font: 12px "ו";
		}
p { font: 12px;
    text-indent: 2em;
	}
BODY {
	MARGIN: 0px; 
	BACKGROUND-COLOR: #f7f7f7
}
.STYLE1 {
	COLOR: #ff0000
}
.menu tr td { text-align: center; 
              font-size: 14px; 
			  font-weight: bold; 
			  color: #3f5fac; 
			  width: 95px;
			  height: 30px; 
			  vertical-align: bottom;
			   }
.middle { background: url('../images/zpz_mid.gif') repeat-y left top;
          text-align: center;
		  }
strong { font-size:14px;}
.title { font-weight: bold;
         padding: 10px 40px; 
		 font-size: 14px; 
		 background: url('../images/title_bg.gif') left center no-repeat;
		 }
.lit_title { color: #fc6501; 
             width: 100px; 
			 padding-left: 20px;
			 }
.content { padding: -20px 0; 
}
/**
*.content p{ font-weight:bold; font-size:14px; position:relative; margin:10px 10px;}
*/
.content ul { padding-top: -10px; 
              padding-left: 50px;
}
ul li { list-style: none; 
        line-height: 25px;
	  }
.rec_intr { border-collapse: collapse;
            border: none;
		    background: #F6F6F6;
		  }
.rec_intr td { padding: 10px 10px;
               border: solid #D9D9D9 1px;
			   }

.arrange ul { font-weight: bold;
}
.arrange ul li { font-weight: bold;
}
.mid_title1 { 
             background: url('../images/title_bg1.gif') no-repeat;
             padding: 5px 0 0 0px;
			 color: #fc6501; 
			 font-size: 12px; 
			 line-height: 25px; 
			 font-weight: bold;}
.mid_title2 { background:url(../images/title_bg03.gif) no-repeat top right;
             /**background: url('../images/title_bg1.gif') no-repeat;*/
             padding: 5px 0 0 0px;
			 color: #000; 
			 font-size: 14px; 
			 line-height: 25px; 
			 font-weight: bold;}
.mid_title3 { background:url(../images/title_bg02.gif) no-repeat top right;
             /**background: url('../images/title_bg1.gif') no-repeat;*/
             padding: 5px 0 0 0px;
			 color: #000; 
			 font-size: 14px; 
			 line-height: 25px; 
			 font-weight: bold;}

h4 { font-size: 14px; 
     color: #FF0000; 
	 padding: auto;
	 }

.lar_content ul { margin-left: 8px; 
                  float: left; 
				  width: 190px;
				  }
.lar_content1 ul { margin-left: 8px; 
                   float: left; 
				   padding: 0 30px;
				   }
				   
.info_title {FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #154692; PADDING-TOP: 5px; text-align:center; line-height:30px;		   
				   }
				   