<DIV class=foot>
{section name=foot loop=$select}
<A class=baicu href="list.php?city={$select[foot].id}">{$select[foot].name}Æ·ÅÆÍø</A>&nbsp;&nbsp;&nbsp;&nbsp;
{/section}
</DIV>
<DIV></DIV>
<DIV class=containe style="COLOR: #bc3204">{$xm_global.cfg_power}<BR><A rel="nofollow" href="http://www.miibeian.gov.cn" 
target=_blank>{$xm_global.cfg_beian}</A></DIV>
</BODY></HTML>
<!-- JiaThis Button BEGIN -->
<script type="text/javascript" src="http://v2.jiathis.com/code/jiathis_r.js?move=0&btn=r5.gif" charset="utf-8"></script>
<!-- JiaThis Button END -->
