
/*left_menrer s*/
#left_menuer {
    float: left;
    width: 220px;
    margin-left: 4px;
    text-align: center;
    background:url(../img/leftmenuer/left_middle_bg.gif) left top repeat-y;
}

#left_menuer a {
    display: block;
    font-weight: bold;
    line-height: 35px;
    background:url(../img/leftmenuer/left_middle_bg1.gif) center bottom no-repeat;
}

#left_menuer h2 {
    width: 220px;
    height: 75px;
    margin: 0;
    background: url(../img/leftmenuer/left_title_bg.gif) left top no-repeat;
}

#left_menuer h2 span {
    display: block;
    height: 23px;
    padding-top: 48px;
    background: url(../img/leftmenuer/cxzx.gif) center center no-repeat;
}

#left_menuer .menuer_bottom {
    width: 220px;
    background: url(../img/leftmenuer/left_bottom_bg.gif) left bottom no-repeat;
}
/*left_menrer e*/

