#info_cen {
    width: 978px;
    margin: 0 auto;
    /*margin-top: -8px;*/
    border-width: 0 1px;
    background-color: #FFFFFF;
}

#content {
    float: right;
    width: 730px;
    padding-right: 8px;
}

#content h1 {
    color: #01609a;
    line-height: 35px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

#content h2 {
    line-height: 35px;
    text-align: center;
    font-weight: normal;
    border-bottom: 1px solid #f47e0b;
}

#content #contg {
    width: 100%;
    padding-top: 8px;
    line-height: 200%;
}

#content #contg p {
    margin-bottom: 10px;
    text-indent: 2em;
}